/* Global variables */
:root {

  /* Colours */
  --color-base: var(--color-machiatto-base);
  --color-text: var(--color-machiatto-text);
  --color-pink: var(--color-machiatto-pink);
  --color-teal: var(--color-machiatto-teal);
  --color-lavender: var(--color-machiatto-lavender);
  --color-blue: var(--color-machiatto-blue);
  --color-green: var(--color-machiatto-green);
  --color-sky: var(--color-machiatto-sky);
  --color-red: var(--color-machiatto-red);
  --color-yellow: var(--color-machiatto-yellow);
  --color-overlay0: var(--color-machiatto-overlay0);
  --color-overlay1: var(--color-machiatto-overlay1);
  --color-overlay2: var(--color-machiatto-overlay2);
  --color-surface0: var(--color-machiatto-surface0);
  --color-surface1: var(--color-machiatto-surface1);
  --color-surface2: var(--color-machiatto-surface2);
  --color-crust: var(--color-machiatto-crust);
  --color-mantle: var(--color-machiatto-mantle);
  --color-subtext1: var(--color-machiatto-subtext1);
  --color-subtext2: var(--color-machiatto-subtext2);
  --color-peach: var(--color-machiatto-peach);
  --color-mauve: var(--color-machiatto-mauve);
  --color-flamingo: var(--color-machiatto-flamingo);
  --color-rosewater: var(--color-machiatto-rosewater);
  --color-maroon: var(--color-machiatto-maroon);
  --color-sapphire: var(--color-machiatto-sapphire);

  --epg-box: var(--color-surface0);
  --epg-box-highlight: var(--color-green);


  --gutter: var(--space-s-m);
  --border-radius: 0.5rem;
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  --color-bg: var(--color-base);
  --color-fg: var(--color-text);
  --sparkle: conic-gradient(
    var(--color-pink) 0 33%,
    var(--color-teal) 0 55%,
    var(--color-lavender) 0 70%,
    var(--color-blue) 0 87%,
    var(--color-green) 0 100%
  );
}
