.blog h1 {
  font-size: var(--size-step-4);
}

.blog h2 {
  font-size: var(--size-step-3);
}

.blog h3 {
  font-size: var(--size-step-2);
}

.blog img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
}

.blog .post-meta {
  font-size: var(--size-step-0);
}

.blog .post-meta a.u-url {
  text-decoration: none;
}

footer.coffee {
  --flow-space: var(--space-s-m);
  font-size: var(--size-step-1);
  background-color: var(--color-fg);
  color: var(--color-bg);
  padding: var(--space-m-l);
  border-radius: var(--border-radius);
  max-inline-size: unset;
}