/* A blank block because there is *always* a button */
.button {
  --button-text: var(--button-text, var(--color-pink));
  --button-bg: var(--button-bg, var(--color-bg));
  --button-border: var(--button-border, var(--color-pink));
  color: var(--button-text);
  background-color: var(--button-bg);
  border: 2px solid var(--button-border);
  border-radius: var(--border-radius);
  display: inline-block;
  font: inherit;
  padding: 0.3em 1em;
  font-weight: 700;
  transition-property: background-color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
  text-decoration: none;
}

.button:hover, .button[aria-current="page"] {
  --button-text: var(--button-bg, var(--color-bg));
  --button-bg: var(--button-text, var(--color-pink));
  --button-border: var(--button-border, var(--color-pink));
}
.button:nth-of-type(7n+1) {
  --button-text: var(--color-red);
  --button-border: var(--color-red);
}

.button:nth-of-type(7n+1):hover, .button:nth-of-type(7n+1)[aria-current="page"] {
  --button-text: var(--color-bg);
  --button-bg: var(--color-red);
}

.button:nth-of-type(7n+2) {
  --button-text: var(--color-peach);
  --button-border: var(--color-peach);
}

.button:nth-of-type(7n+2):hover, .button:nth-of-type(7n+2)[aria-current="page"] {
  --button-text: var(--color-bg);
  --button-bg: var(--color-peach);
}

.button:nth-of-type(7n+3) {
  --button-text: var(--color-yellow);
  --button-border: var(--color-yellow);
}

.button:nth-of-type(7n+3):hover, .button:nth-of-type(7n+3)[aria-current="page"] {
  --button-text: var(--color-bg);
  --button-bg: var(--color-yellow);
}

.button:nth-of-type(7n+4) {
  --button-border: var(--color-green);
  --button-text: var(--color-green);
}

.button:nth-of-type(7n+4):hover, .button:nth-of-type(7n+4)[aria-current="page"] {
  --button-text: var(--color-bg);
  --button-bg: var(--color-green);
}

.button:nth-of-type(7n+5) {
  --button-text: var(--color-sky);
  --button-border: var(--color-sky);
}

.button:nth-of-type(7n+5):hover, .button:nth-of-type(7n+5)[aria-current="page"] {
  --button-text: var(--color-bg);
  --button-bg: var(--color-sky);
}

.button:nth-of-type(7n+6) {
  --button-text: var(--color-lavender);
  --button-border: var(--color-lavender);
}

.button:nth-of-type(7n+6):hover, .button:nth-of-type(7n+6)[aria-current="page"] {
  --button-text: var(--color-bg);
  --button-bg: var(--color-lavender);
}

.button:nth-of-type(7n+7) {
  --button-text: var(--color-mauve);
  --button-border: var(--color-mauve);
}

.button:nth-of-type(7n+7):hover, .button:nth-of-type(7n+7)[aria-current="page"] {
  --button-text: var(--color-bg);
  --button-bg: var(--color-mauve);
}

/* Gallery images are wrapped in a button */
button:has(picture) {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}