.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0;
}

.pagination li {
  border: 3px solid var(--color-pink);
  border-radius: var(--border-radius);
}

.pagination li:not(:has(a)) {
  padding: var(--space-xs) var(--space-s-m);
  opacity: 0.6;
}

.pagination a {
  padding: var(--space-xs) var(--space-s-m);
  text-decoration: none;
  display: block;
  color: var(--color-pink);
}
.pagination a:is(:hover, :focus) {
  border-color: var(--color-red);
  color: var(--color-red);
}
.pagination a[aria-current='page'] {
  color: var(--color-mantle);
}

.pagination li:not(:has(a)) {
  padding: var(--space-xs) var(--space-s-m);
  opacity: 0.7;
}

.pagination li:has(a[aria-current='page']) {
  background-color: var(--color-pink);
  color: var(--color-mantle);
}