---
layout: base
---

<header class="section">
    <div class="wrapper flow region">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
</header>
<article class="region">
  <div class="wrapper flow prose">  {{ content | safe }}</div>


  <ul class="wrapper flow prose mt-l-xl h-feed" role="list">
    {%- for item in pagination.items %}

    <li class="h-entry">
      <h2>
        <a href="{{ item.url }}">{{ item.data.title }}</a>
      </h2>
      {% set definedDate = item.date %} {% include "partials/date.njk" %}
      <p>{{ item.data.description }}</p>
    </li>

    {% endfor %}
  </ul>
{% if pagination.pages.length > 1 %}

  <section class="wrapper  region">
    <nav role="navigation" aria-label="Pagination">
      <ul class="pagination">
        <li>
          {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">Previous</a>
          {% else %}Previous{% endif %}
        </li>
        {%- for pageEntry in pagination.pages %}
          <li>
            <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>
              {{ loop.index }}</a>
          </li>
        {%- endfor %}
        <li>
          {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">Next</a>
          {% else %}Next{% endif %}
        </li>
      </ul>
    </nav>
    </section>

  {% endif %}
</article>