{
    "version": "https://jsonfeed.org/version/1.1",
    "user_comment": "This is a JSON feed. Subscribe by copying the URL from the address bar into your newsreader.",
    "title": "{{ meta.blog.name }} — {{ name }} — JSON Feed",
    "description": "{{ meta.description }}",
    "home_page_url": "{{ meta.url}}",
    "feed_url": "{{ permalink | absoluteUrl(meta.url)}}",
    "authors": [
        {
            "name": "{{ meta.author }}",
            "url": "{{ meta.url }}",
            "avatar": "{{ meta.indieweb.avatar }}"
        }
    ],
    "items" : [
    {%- for post in collections[collectionName] %}
    {%- set filteredTags = post.data.tags | filterTagsFromFeeds %}
    {
        "id" : "{{ post.url }}",
        "title": "{{ post.data.title }}",
        "url": "{{ post.url | stripIndex | absoluteUrl(meta.url)}}",
        "content_html": {{ post.templateContent | dump | safe }},
        "summary": "{{ post.data.excerpt }}",
        "image": {% if post.data.image %}"{{ post.data.image | url }}"{% else %}""{% endif %},
        {% if post.data.layout === 'bookmark' %}
        "external_url": "{{ post.data.bookmarkOf | url }}",
        {% endif %}
        "_posse": {
            "masto_text": {{ { "externalLink": post.data.layout === 'bookmark', "layout": post.data.layout, "type": post.data.type, "title": post.data.title, "author": post.data.author, "bookmark": post.data.bookmarkOf, "content": post.templateContent, "permalink": post.url | stripIndex } | makeTootText | dump | safe }},

            "bsky_text": {{ { "externalLink": post.data.layout === 'bookmark', "layout": post.data.layout, "type": post.data.type, "title": post.data.title, "author": post.data.author, "bookmark": post.data.bookmarkOf, "content": post.templateContent, "permalink": post.url | stripIndex } | makeBlueskyText | dump | safe }},
            
            "tags": {% if filteredTags %}{{ filteredTags | dump | safe }}{% else %}[]{% endif %},
            "opengraph": "{{ post.url | getOpengraphUrl }}"
        },
        "date_published": "{{ post.date | dateForFeed }}",
        "tags": {% if filteredTags %}{{ filteredTags | dump | safe }}{% else %}[]{% endif %}
    }{% if not loop.last %},{% else %}{%- endif -%}
    {%- endfor -%}
]}