<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ meta.blog.name }} — {{ name }} — Atom Feed</title>
  <subtitle>{{ meta.blog.description }}</subtitle>
  <link href="{{ permalink | absoluteUrl(meta.url) }}" rel="self" />
  <link href="{{ meta.url }}" />
  <updated>{{ collections[collectionName] | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ permalink | absoluteUrl(meta.url) }}</id>
  <author>
    <name>{{ meta.author }}</name>
    <email>{{ meta.authorEmail }}</email>
  </author>
  {%- for post in collections[collectionName] %}
  {%- set absolutePostUrl = post.url | absoluteUrl(meta.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>