---
layout: base
---

<header class="section">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ title }}</h1>
    </div>
</header>
<article class="region page">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>
<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose">
    <h2>{{ blog.title }}</h2>
    <!-- blog intro text is optional. -->
    {% if blog.intro %}
      <p>{{ blog.intro }}</p>
    {% endif %}
  </div>
  <!-- TODO: duplicate of partials/blog.njk -->
  <ul class="wrapper flow prose mt-l-xl h-feed" role="list" >
    {% set postslist = collections.posts %}
    {% for post in postslist.slice(0, 4) %}
      <li class="overflow-hidden h-entry">
        <h3>
          <a href="{{ post.url | url }}" class="u-url u-title">{{ post.data.title }}</a>
        </h3>
        {% set definedDate = post.date %}
        {% include "partials/date.njk" %}
        <p>{{ post.data.description }}</p>
      </li>
    {% endfor %}
  </ul>
</article>