.grid--image-text {
  display: grid;
  gap: var(--gutter, var(--space-s-l));
  background: var(--color-surface0);
  padding: var(--gutter, var(--space-s-l));
  border-radius: var(--border-radius);
}

@media (min-width: 768px) {
  .grid--image-text {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid--image-text img {
    grid-column: 1 / 2;
  }

  .grid--image-text p {
    grid-column: 2 / 5;
  }
}
