.grid--image-text {
  display: grid;
  gap: var(--gutter, var(--space-s-l));
  background: var(--color-crust);
  padding: var(--gutter, var(--space-s-l));
  border-radius: var(--border-radius);
  border: 2px solid var(--color-text);
}

@media (min-width: 768px) {
  .grid--image-text {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid--image-text img {
    grid-column: 1 / 2;
  }

  .grid--image-text p {
    grid-column: 2 / 5;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--gutter, var(--space-s-m));
}

.grid[data-rows='masonry'] {
  grid-template-rows: masonry;
  align-items: start;
}

.grid[data-layout='50-50'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 28rem);
}

.grid[data-layout='thirds'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
}